.button {
    padding: 25px;
    color: white;
    background-color: #3386c0;
    border-radius: 16px;
    text-transform: uppercase;
    font-size: 30px;
    text-decoration: solid;
    backface-visibility: visible;
    box-shadow: 0 5px 0 #1f5275;}


    .button:hover{ padding: 25px;
        color: white;
        background-color: #3386c0;
        border-radius: 16px;
        text-transform: uppercase;
        font-size: 30px;
        text-decoration: solid;
        backface-visibility: visible;
        box-shadow: none}
